@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato:700|Open+Sans:300,400,600|Roboto:400,500&display=swap');


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*

color: #4a6163 DARK

color: #FFC94B YELLOW

color: #595959 GREY TEXT

font-family: 'Open Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Montserrat', sans-serif;

*/

h2, h3, h4, h5, h6 {
    color: #4a6163 !important;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.section-title:after {
    content: "";
    display: block;
    width: 100px;
    background-color: #afafaf;
    height: 5px;
    margin: 20px auto;
    margin-top: 30px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h3:after {
    content: "";
    width: 120px;
    margin: 20px auto;
    margin-bottom: 30px;
    height: 5px;
    background-color: #FFC94B;
    display: block;
}

body {
    background-color: rgba(250, 250, 250);
}

.nav-link:after {
    content: "";
    display: block;
    width: 0%;
    margin: 0px auto;
    margin-top: 10px;
    height: 4px;
    background-color: #FFC94B;
    transition: all 0.3s;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #383838 !important;
    padding: 10px 20px !important;
    margin: 0px 10px;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.nav-link:hover:after {
    width: 100%;
}

.sites-title {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    margin: 0px;
    margin-bottom: 40px;
    color: #4a6163;
}

.sites-title span {
    display: block;
    font-size: 50px;
}

.intro-container {
    min-height: 100vh;
    height: auto;
    background-image: url('../img/office-table.png');
    background-position: center;
    background-size: cover;
    background-color: #e7e7e7;
}
.sites-logo {
    width: 75px;
    height: 75px;
}

.intro-content {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.intro-content p {
    margin: 7px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color:  #595959;
}

.intro-buttons {
    margin-top: 40px;
}

.ws-button {
    border-radius: 50px;
    padding: 8px 35px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:14px;
    background-color: transparent;
    border-color: #4a6163;
    color: #4a6163;
    text-transform: uppercase;
    border-width: 2px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 6px 0px rgba(30, 30, 30, 0.6);
    transition: all 0.3s;
}

.ws-button-secondary {
    background-color: #4a6163;
    color: #FFF;
}

.ws-button-secondary:hover {
    background-color: transparent;
    color: #4a6163;
}

.ws-button i {
    margin-left: 20px;
    font-size: 16px;
}

.ws-btn-yellow {
    border-radius: 50px;
    padding: 8px 35px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:14px;
    background-color: transparent;;
    color: #9c9c9c !important;
    border-color: #9c9c9c;
    text-transform: uppercase;
    border-width: 2px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 4px 0px rgba(30, 30, 30, 0.2);
    transition: all 0.3s;
}

.ws-btn-yellow:hover {
    background-color: #FFC94B;
    border-color: #FFC94B;
    color: #FFF !important;
}

.section-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.posts {
    margin-top: 60px;
    margin-bottom: 60px;
}

.posts .post {
    background-color: #FFF;
    margin: 0px 10px;
    box-shadow: 0px 0px 6px 3px #e7e7e7;
    transition: all 0.3s;
}

.posts .post:hover {
    box-shadow: 0px 0px 9px 1px #afafaf;
}

.posts .post .post-container{
    margin: 10px 15px;
}

.posts .post .post-container .post-details span {
    color: #9c9c9c;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.posts .post .post-container .post-title {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 5px;
    text-align: justify;
    word-break: break-all;
}

.posts .post .post-container .post-title:after {
    display: block;
    content: "";
    width: 60%;
    height: 2px;
    background-color: #FFC94B;
    margin: 20px auto;
}

.posts .post .post-container .post-description {
    color: #9c9c9c;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-weight: 400;
    margin: 10px 0px;
    margin-bottom: 5px;
    text-align: justify;
    word-break: break-all;
}

.posts .post .post-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:  #9c9c9c;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 5px;

}

.posts .post .post-link:hover {
    color: #383838;
}

.posts .post .post-link:after {
    content: ">>";
    margin-left: 10px;
}

.posts .post .post-place {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background-color: #FFC94B;
    top: 120px;
    left: -15px;
    border-radius: 2px;
}

.posts .post .post-place i {
    color: #FFF;
    font-size: 30px;
}

.posts .post .post-place span {
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.user-statistic {
    padding: 10px 0px;
}

.user-statistic .user-stat {
    text-align: center;
}

.user-statistic .user-stat i {
    font-size: 28px;
    color: #FFC94B;
    margin-bottom: 5px;
}

.user-statistic .user-stat span {
    font-size: 26px;
    color: #afafaf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.carousel-icon {
    font-size: 40px;
}

.bg-ws-yellow {
    background-color: #FFC94B;
    padding: 30px 0px;
}

.statistic-container .statistic {
    margin: 30px 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0.4px;
    border-right: 0.4px;
    border-style: solid;
    border-color: #FFF;
    color: #FFF;
}

.statistic-container .statistic:first-of-type {
    border-left: 0px;
}

.statistic-container .statistic:last-of-type {
    border-right: 0px;
}

.statistic-container .statistic h5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FFF !important;
}

.statistic-container .statistic p {
    font-size: 80px;    
    margin: 0px;
}

.bg-dark {
    background-color: #383838 !important;
}

.contact-section h2{
    color: #FFF !important;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #e7e7e7;
    line-height: 35px;
    margin-bottom: 10px;
}

.ws-btn-border-yellow {
    border-color: #FFC94B;
    color: #FFC94B !important;
}

footer {
    background-color: #FFC94B;
}

footer h5 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin:10px 0px;

}

footer .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px #383838;
    background-color: #FFF;
}

footer .copyright {
    color: #595959;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


footer .nav-link:hover:after {
    background-color: #595959;
}

.big-post {
    margin-top: 100px;
    margin-bottom: 30px;
}

.big-post .post-col {
    min-height: 40vh;
    height: auto;
    box-shadow: 0px 0px 6px 3px #e7e7e7;
    padding: 0px !important;
}

.big-post .post-col .post-content {
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
}

.big-post .post-col .post-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
}

.big-post .post-col .post-content .post-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.big-post .post-col .post-content .post-details i {
    font-size: 20px;
    margin-right: 10px;
}

.big-post .post-col .post-content .post-details .detail-border {
    margin-right: 20px;
    padding-right: 30px;
    border-right: 0.5px solid #FFF;
}

.big-post .post-col .post-content .post-description {
    width: 60%;
}


.big-post .post-col .post-content .post-description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 16px;
    line-height: 25px;
}
.big-post .post-col .post-content .post-link {
    border-width: 0.5px;
    border-color: #FFF;
    color: #FFF !important;
}

.big-post .post-col .post-content .post-link:hover {
    border-color: #FFC94B;
}

.posts-page .post {
    margin-bottom: 30px;
}

/*

color: #4a6163 DARK

color: #FFC94B YELLOW

color: #595959 GREY TEXT

font-family: 'Open Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Montserrat', sans-serif;

*/